* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 35px 15px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f5f5f5;
}


.trang-ca-nhan {
  width: 800px;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  background-color: #eefafd;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}


header {
  position: relative;
  height: 120px;
  padding: 25px;
  color: white;
  background:
    radial-gradient(
      ellipse 180px 45px at 80% 0%,
      #ffbd4c 0 50%,
      transparent 51%
    ),
    radial-gradient(
      ellipse 180px 45px at 58% 0%,
      #53c8c0 0 48%,
      transparent 49%
    ),
    linear-gradient(120deg, #078487, #35b7b6);
}


header h1 {
  margin: 0;
  font-size: 23px;
  text-transform: uppercase;
}


header h2 {
  margin: 7px 0 0;
  font-size: 14px;
  font-weight: normal;
}


.avatar {
  position: absolute;
  top: 49px;
  right: 28px;
  display: grid;
  width: 95px;
  height: 95px;
  place-items: center;
  border: 4px solid white;
  border-radius: 50%;
  background-color: #dcecf3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.avatar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 100%;
}


nav {
  display: flex;
  gap: 10px;
  padding: 9px 25px;
  background-color: white;
  border-radius: 0 0 13px 13px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15);
}


nav a {
  padding: 5px 13px;
  border-radius: 15px;
  color: #555;
  background-color: #dff3f2;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}


nav a:nth-child(2) {
  background-color: #f9dcb9;
}


nav a:nth-child(3) {
  background-color: #ead9e6;
}


nav a:hover {
  filter: brightness(0.93);
}


main {
  display: grid;
  grid-template-columns: 1.2fr 1.1fr 1fr;
  gap: 22px;
  min-height: 260px;
  padding: 35px 32px 30px;
  align-items: start;
}


section h2 {
  margin: 0 0 11px;
  color: #222;
  font-size: 20px;
}

#gioithieu{
  padding: 0;

}

#gioithieu h2 {
  margin: 0 0 11px;
}

.noidung-gioithieu{
  padding: 13px;
  background-color: white;
  border-radius: 10px;
  box-shadow:  0 2px 8px rgba(0, 0, 0, 0.18);
}

#gioithieu p {
  margin: 0 0 14px;
  padding: 0;
  font-size: 12px;
  line-height: 1.45;
}

#gioithieu p:last-child {
  margin-bottom: 0;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


li {
  margin-bottom: 10px;
  font-size: 12px;
}


li::before {
  content: "✓";
  display: inline-grid;
  width: 13px;
  height: 13px;
  margin-right: 7px;
  place-items: center;
  border-radius: 50%;
  color: white;
  background-color: #168f92;
  font-size: 10px;
  font-weight: bold;
}


address {
  padding: 13px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
  font-size: 12px;
  font-style: normal;
  line-height: 2;
}


address strong {
  display: block;
  font-size: 13px;
}


address a {
  color: #333;
  text-decoration: none;
}


.icon {
  margin-right: 7px;
  color: #168f92;
  font-size: 16px;
}


footer {
  padding: 14px 10px;
  background-color: #9dd5f5;
  text-align: center;
  font-size: 11px;
}


footer p {
  margin: 0;
}


@media (max-width: 620px) {

  body {
    padding: 0;
  }


  main {
    grid-template-columns: 1fr;
  }


  #gioithieu h2 {
    margin-top: 0;
  }


  .avatar {
    width: 100px;
    height: 100px;
    right: 15px;
    font-size: 45px;
  }


  header h1 {
    max-width: 210px;
    font-size: 18px;
  }

}